.about {
    display: $grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    @include breakpoint($tablet){
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
}