body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }
    h1 {
        font-size: 6rem;
        font-weight: 700;
    }
    #__nuxt {
        position: relative;
        width: 100%;
        height: 100%;
        #__layout {
            position: relative;
            width: 100%;
            height: 100%;
            .nuxt__container {
                width: 100%;
                min-height: 100vh;
                position: relative;
                display: $grid;
                grid-template-columns: 1fr;
                grid-template-rows: 5rem 1fr 3rem;
                .container {
                    height: 100%;
                }
            }
        }
    }
}