body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    font-family: $paragraph;
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }
    h1,h2,h3,h4,h5,h6 {
        font-weight: 700;
    }
    #__nuxt {
        #__layout {
            .nuxt__container {
                width: 100%;
                min-height: 100vh;
                display: $grid;
                grid-template-columns: 1fr;
                grid-template-rows: 5rem 1fr 5rem;

            }
        }
    }
}