.main-footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background: $white;
    color: #516A89;
    align-items: center;
    border-top: .25rem solid #516A89;
    p {
        grid-column: 2 / 12;
        @include breakpoint($laptop){
            grid-column: 3 / 11;
        }
    }
}