.main-footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background: rgb(63, 63, 63);
    color: #ffffff;
    align-items: center;
    p {
        grid-column: 2 / 12;
        @include breakpoint($laptop){
            grid-column: 3 / 11;
        }
    }
}