.header-container {
    background: $white;
    border-bottom: .25rem solid rgb(63, 63, 63);;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    .header {
        grid-column: 2 /3;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        @include breakpoint($laptop){
            grid-column: 3 /11;
        }
        &__logo-link {
            text-decoration: none;
            font-size: 1.5rem;
            font-family: $logo;
            color: #516A89;
            justify-self: start;
            z-index: 2;
        }
        .menu {
            grid-column: 2 / 5;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            &__nav {
                position: fixed;
                top: 0;
                left: 0;
                transition: 300ms;
                transform: translateX(-100%);
                width: 75%;
                height: 100vh;
                @include breakpoint($tablet){
                    width: 50%;
                }
                @include breakpoint($laptop){
                    position: relative;
                    transform: translateX(0);
                    height: auto;
                    background: transparent;
                    width: 100%;
                    grid-column: 1 / 4;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    justify-items: center;
                }
                &.open {
                    transform: translateX(0);
                    padding: 5rem 1rem;
                    border-radius: 0 1rem 1rem 0;
                    background: $gray;
                    text-align: center;
                    box-shadow: 2px 0 10px 0 rgba(0,0,0,0.75);
                    z-index: 1;
                    .nav-item {
                        font-size: 2.5rem;
                        color: $white;
                        line-height: 4rem;
                        &.nuxt-link-exact-active {
                            color: $white;
                        }
                    }
                }
                .nav-item {
                    text-decoration: none;
                    color: rgba(81, 106, 137, 0.5);
                    transition: .5s;
                    line-height: 3rem;
                    font-size: 1.25rem;
                    &.nuxt-link-exact-active {
                        border-bottom: 4px solid #516A89;
                        color: #516A89;
                        font-weight: 700;
                    }
                    &:hover {
                        font-weight: 700;
                    }
                }
            }
            &__btns {
                width: 2.75rem;
                height: 2.75rem;
                border: .2rem solid #516A89;
                border-radius: 50%;
                display: block;
                overflow: hidden;
                position: fixed;
                top: .75rem;
                right: 1rem;
                @include breakpoint($laptop){
                    display: none;
                }
                &.active {
                    .menu__btn {
                        transform: translateY(-2.75rem);
                    }
                }
                .menu__btn {
                    display: block;
                    font-size: 1.5rem;
                    line-height: 2.75rem;
                    text-align: center;
                    transition: 300ms;
                    color: #516A89;
                    background: transparent;
                    &.menu__btn--close {
                        background: #516A89;
                        color: $white;
                    }
                }
            }
        }
    }
}