.home {
    grid-column: 1 / 13;
    justify-self: center;
    align-self:center;
    h1 {
        font-family:$logo;
        font-size:$logo-sm;
        @include breakpoint($tablet){
            font-size: $logo-md;
        }
        @include breakpoint($laptop){
            font-size: $logo-lg;
        }
    }
}
