.portfolio {
    width: 100vw;
    padding: 1rem;
    &-projects {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-gap: 2rem;
        .project-section {
            display: grid;
            grid-auto-rows: minmax(1rem, 1fr);
            grid-gap: 1rem;
            justify-items: center;
            align-items: center;
            @include breakpoint($tablet){
                grid-template-columns: repeat(2, 1fr);
            }
            @include breakpoint($laptop){
                grid-template-columns: repeat(3, 1fr);
            }
            h2 {
                grid-column: span 1;
                justify-self: stretch;
                align-self: center;
                @include breakpoint($tablet){
                    grid-column: span 2;
                }
                @include breakpoint($laptop){
                    grid-column: span 3;
                }
            }
            .project-link {
                @include breakpoint($tablet){
                    grid-column: span 1;
                }
            }
        }
    }
}