.portfolio {
    width: 100vw;
    max-width: 1024px;
    padding: 1rem;
    &-projects {
        display: grid;
        grid-gap: 3rem;
        .project-section {
            display: grid;
            grid-gap: 2rem 0;
            justify-items: center;
            align-items: center;
            @include breakpoint($tablet){
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 3rem 2rem;
            }
            @include breakpoint($laptop){
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 3rem 5rem;
            }
            h2 {
                grid-column: span 1;
                justify-self: stretch;
                align-self: center;
                @include breakpoint($tablet){
                    grid-column: span 2;
                }
                @include breakpoint($laptop){
                    grid-column: span 3;
                }
            }
            .project-link {
                min-width: 100%;
                text-decoration: none;
                text-align: center;
                color: rgb(90, 90, 90);
                transition: .75s;
                opacity: .75;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                    .icon {
                        animation: bouncing 1s;
                    }
                }
                @include breakpoint($tablet){
                    grid-column: span 1;
                }
                .icon {
                    font-size: 3rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}
@keyframes bouncing {
    0% {
        transform: translateY(-1rem);
    }
    50% {
        transform: translateY(1rem);
    }
    65% {
        transform: translateY(-.5rem)
    }
    80% {
        transform: translateY(.5rem)
    }
    100% {
        tranform: translateY(0);
    }
};