.portfolio {
    padding: 1rem;
    &-projects {
        .project-section {
            .project-link {
                min-width: 100%;
                text-decoration: none;
                text-align: center;
                color:#516A89;
                transition: .75s;
                opacity: .75;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                    .icon {
                        animation: bouncing 1s;
                    }
                }
                .icon {
                    font-size: 3rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}
@keyframes bouncing {
    0% {
        transform: translateY(-1rem);
    }
    50% {
        transform: translateY(1rem);
    }
    65% {
        transform: translateY(-.5rem)
    }
    80% {
        transform: translateY(.5rem)
    }
    100% {
        tranform: translateY(0);
    }
};