@import url('https://fonts.googleapis.com/css?family=Knewave|Roboto');
/*********** Variables ***********/
/*********** MEDIA QUERIES ***********/
$tablet: 768px;
$laptop: 1024px;
$hd-desktop: 1080px;
$ultra-hd: 2560px;

/*********** Colors ***********/
$black: rgb(26, 26, 26);
$white: rgb(254, 254, 254);

/*********** Layout ***********/
$grid: grid;

/*********** Fonts ************/
$logo: 'Knewave', cursive;
$paragraph: 'Roboto', sans-serif;
$logo-sm: 7rem;
$logo-md: 11rem;
$logo-lg: 13rem;

