@import url('https://fonts.googleapis.com/css?family=Knewave|Roboto');
/*********** Variables ***********/
/*********** MEDIA QUERIES ***********/
$tablet: 768px;
$laptop: 1024px;
$hd-desktop: 1440px;
$ultra-hd: 2560px;

/*********** Colors ***********/
$black: rgb(26, 26, 26);
$white: rgb(254, 254, 254);

/*********** Layout ***********/
$grid: grid;
$container: 1100px;


/*********** Fonts ************/
$logo: 'Knewave', cursive;
$paragraph: 'Roboto', sans-serif;

