@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800');
/*********** Variables ***********/
/*********** MEDIA QUERIES ***********/
$tablet: 768px;
$laptop: 1024px;
$hd-desktop: 1080px;
$ultra-hd: 2560px;

/*********** Colors ***********/
$black: rgb(26, 26, 26);
$white:#fefefe;
$gray: #424242;

/*********** Layout ***********/
$grid: grid;

/*********** Fonts ************/
$logo: 'Raleway', sans-serif;
$paragraph: 'Raleway', sans-serif;
$paragraph-fz: 1rem;
$paragrah-weight: 400;
$logo-sm: 2rem;
$logo-md: 3rem;
$logo-lg: 3.3rem;
$logo-weight: 700;
